
<body class="d-flex flex-column min-vh-100">
    <div class="wrapper flex-grow-1"></div>
    <footer>
            <div class="jumbotron">
               <form class="container-fluid">
                    <label class="copyright"> © Grupo 1 ISW 2020</label> 
                    <div class="d-flex justify-content-end">
                        <div class="list-inline-item"><a href="#">Privacidad</a></div>
                        <div class="list-inline-item"><a href="#">Terminos</a></div>
                        <div class="list-inline-item"><a href="#">Contacto</a></div>
                    </div>  
                    
                </form>
           
            </div>
    
    </footer>
</body>
