<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-5">
    <a class="navbar-brand" style="font-family:'Impact', Charcoal, sans-serif ; color:yellow" href="#">DE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" style="color:yellow" href="#">Inicio<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" style="color:yellow" href="#">Comercios Adheridos <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" style="color:yellow"href="pedido" >Lo que sea
          
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" style="color:yellow" href="#">Carrito</a>
        </li>
      </ul>
      <form class= "form-inline mt-1">
        <li class="nav-item active">
            <a class="nav-link"style="color:yellow" href="#">Seguimiento de orden </a>
          </li>
        <li class="nav-item active">
          <a class="nav-link" style="color:yellow" href="#">Mi cuenta</a>
        </li>
      </form>
    </div>
  </nav>
