<form [formGroup]="DireccionForm">
<ng-container *ngIf="!url">
    <div class="field">
        <label for="#fileupload"><strong>Puedes incluir una fotografia descriptiva: </strong>  </label>
        <br>
        <input type="file" id="fileupload" #imageUpload (change)="imageUploadEvent($event)"
        formControlName="imagenPed" accept="image/jpg">
        <span *ngIf=!fileValidation()>
            <h6 class="helpError">Extensiones del archivo permitidas .png /.jpg.</h6>
        </span>
    </div>
    
</ng-container>

<ng-container *ngIf="url">
    <div class="row justify-content-center">
        <div class="col-9 col-md-5">
            <img [src]="url" class="img-fluid">
            <button class="btn btn-danger btn-block" (click)="deleteImage()">Borrar</button>
        </div>
    </div>
</ng-container>

</form>